:root {
    --color-1: rgb(32, 32, 32);
    --color-2: rgb(67, 151, 179);
}
body {
    background-color: var(--color-1);
}
.cs-title {
    background-color:var(--color-2) !important;
    color: ghostwhite !important;
    text-decoration: none !important;
    font-family: 'Dongle', sans-serif;
    font-size: 150%;
    
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    height: 100px;
}
.cs-body {
    background-color: var(--color-1) !important;
    color: rgb(235, 235, 235) !important;
    line-height: 1.2;
    text-align: left !important;
    font-family: 'Dongle', sans-serif;
    font-size: 200%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
}
.cs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    background-color: var(--color-1) !important;
}

a {
    color: turquoise;
}
a:hover {
    color: yellow;
}